.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: center;
}

.no_user {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20vw;
    text-decoration: none;
    width: 800px;
}

.login_btn {
    padding: 12px;
    position: inherit;
    border: 2px white solid;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px; 
    border: 1px black solid;
    margin: 20px;
}

.login_btn:active {
    cursor: pointer;
    transform: scale(1, 1);
    box-shadow: 3px 3px;
}

.login_btn:hover {  
    cursor: pointer;
    transform: scale(1.02, 1.02);
    box-shadow: 4px 4px;
}

.bookshelf_title {
    margin: 20px;
    margin-left: 60px;
    margin-top: 150px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;
}



/* containers */

.bookshelf_title_container {
    border-bottom: 4px black solid;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.titleAndPicture {
    display: flex;
    width: 300px;
    justify-content: space-center;
    align-content: center;
    padding: 0;
    margin: 0;
}

.bookshelf_container {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    padding: 20px;
}

.post_container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    align-content: left;
    width: fit-content;
}

.post_card {
    width: fit-content;
    height: fit-content;
    border: 2px black solid;
    margin: 23.3px;
    padding: 18px;
    max-width: 380px;
    min-width: 300px;
    background-color: white;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    border-radius: 20px; 
    box-shadow: 3px 3px;
}

.bookshelfIcon {
    width: 98px;
    height: 98px;
    margin-top: 153px;
    display: flex;
}



/* posts */

.article_title_text {
    font-size: 22px;
    display: flex;
}

.author_name {
    font-size: 20px;
    color: #444343;
    font-style: italic;
    text-align: right;
}

.noPosts {
    width: 1200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: sans-serif;
}

/* dropdown */

/* .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 300px;
    padding-bottom: 10px;
}

.dropdown_label {
    margin: 10px;
    margin-right: 200px;
    font-size: 20px;
    font-family: sans-serif;
    display: flex;
    width: 230px;
    justify-content: flex-end;
}

.dropdown_box {
    margin: 10px;
    padding: 3px;
    margin-right: 140px;
    width: 230px;
    border-radius: 20px;
}

.dropdown_box:hover {
    cursor: pointer;
} */